RUNS/*
forcings/*
scripts/notebooks/.ipynb_checkpoints/
harp_output/*
!sqlites/FCTABLES/AIBC_ibera/
config_files/HARP/yaml_files/*yml
!config_files/HARP/yaml_files/OSVAS_HARP_verif_template.yml
dynamicapp.log
visapp.log
profiles/*
!profiles/Meteopole/
