RUNS/*
forcings/*
scripts/notebooks/.ipynb_checkpoints/
harp_output/*
sqlites/model_data/*
!sqlites/model_data/AIBC_ibera/
sqlites/validation_data/*
!sqlites/validation_data/common_obstables/*
config_files/HARP/yaml_files/*yml
!config_files/HARP/yaml_files/OSVAS_HARP_verif_template.yml
dynamicapp.log
visapp.log
